[Unit]
Description=Update DNS for %I
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/nsupdate/%i/auth
Environment="PREFIX=/etc/nsupdate/%i"
ExecStart=/etc/nsupdate/nsupdate.sh "ipv4"
ExecStart=/etc/nsupdate/nsupdate.sh "ipv6"
