[Unit]
Description=Download recent YouTube videos from channel %I
After=network-online.target

[Service]
Type=simple
User=ytdl
UMask=0002
WorkingDirectory=/data/Downloads/10-youtube/_channel/%i
ExecStart=/usr/bin/youtube-dl -icw --no-progress --no-playlist --download-archive archive.txt -f 'bestvideo[height<=2160]+bestaudio/best[height<=2160]' --merge-output-format mkv --playlist-end 16 -o '%(upload_date)s-%(title)s-%(id)s.%(ext)s' https://www.youtube.com/channel/%i
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
