[Unit]
Description=Run youtube-dl-channel for %I every 2 hours

[Timer]
OnCalendar=*-*-* 00/2:00:00
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
