[user]
	name = Jaan Toots
	email = jaantoots@gmail.com
	signingkey = 52A558F64DD089AA
[alias]
	co = checkout
	ci = commit
	st = status -s
	br = branch
	hist = log --pretty=format:'%C(red)%h %C(green)%ad%Creset | %s%C(bold yellow)%d%Creset %C(blue)[%an]%Creset' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[core]
	excludesfile = ~/.gitignore_global
	editor = emacsclient -t
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
