[submodule "config/bash-sensible"]
	path = .config/bash-sensible
	url = https://github.com/mrzool/bash-sensible.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".config/base16-xresources"]
	path = .config/base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
[submodule ".config/antigen"]
	path = .config/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".vim/colors/base16"]
	path = .vim/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule ".config/qutebrowser/base16-qutebrowser"]
	path = .config/qutebrowser/base16-qutebrowser
	url = https://github.com/theova/base16-qutebrowser.git
[submodule ".config/kitty/base16-kitty"]
	path = .config/kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty.git
