[submodule "config/bash-sensible"]
	path = extra/.config/bash-sensible
	url = https://github.com/mrzool/bash-sensible.git
[submodule ".config/base16-shell"]
	path = extra/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".config/base16-xresources"]
	path = xorg/.config/base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
[submodule ".vim/colors/base16"]
	path = extra/.vim/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule ".config/qutebrowser/base16-qutebrowser"]
	path = desktop/.config/qutebrowser/base16-qutebrowser
	url = https://github.com/theova/base16-qutebrowser.git
[submodule ".config/kitty/base16-kitty"]
	path = desktop/.config/kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty.git
[submodule ".config/rofi/base16-rofi"]
	path = desktop/.config/rofi/base16-rofi
	url = https://github.com/0xdec/base16-rofi.git
[submodule "colours/.config/base16-shell"]
	path = colours/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "colours/.config/base16-gnome-terminal"]
	path = colours/.config/base16-gnome-terminal
	url = https://github.com/aaron-williamson/base16-gnome-terminal.git
