# Ignore everything.
/*

# Unignore metafiles for the repository
!/.gitignore
!/.gitmodules
!/README.md
!/LICENSE
!/setup

### Unignore configuration files to be tracked ###

# Git
!/.gitconfig
!/.gitignore_global

# Bash
!/.bash_profile
!/.bashrc
!/.bash_aliases
!/.alias.sh

# Emacs
!/.emacs

# config
!/.config
/.config/*
!/.config/base16-shell
!/.config/bash-sensible
!/.config/gtk-3.0
!/.config/i3*
!/.config/libinput-gestures.conf
!/.config/transfer.sh
!/.config/zathura

# Profile
!/.profile
!/.zprofile

# Slate
!/.slate

# GTK custom themes
!/.themes

# Tmux
!/.tmux.conf

# X
!/.xbindkeysrc
!/.xinitrc
!/.xprofile
!/.Xresources

# ZSH
!/.zshrc

### Unignore bin directory ###

!/bin
