# Ignore everything.
/*

# Unignore metafiles for the repository
!/.gitignore
!/README.md
!/LICENSE
!/setup
!/.submodules

### Unignore configuration files to be tracked ###

# Git
!/.gitconfig
!/.gitignore_global

# Bash
!/.bash_profile
!/.bashrc
!/.bash_aliases
!/.alias.sh

# Emacs
!/.emacs

# config
!/.config
/.config/chromium
/.config/menus

# Profile
!/.profile
!/.zprofile

# Slate
!/.slate

# Tmux
!/.tmux.conf

# X
!/.xinitrc
!/.Xresources

# ZSH
!/.zshrc

### Unignore bin directory ###

!/bin
