# fix keyboard
setxkbmap -option ctrl:nocaps

# fix dpi
xrandr --dpi 192

# additional keybindings
xbindkeys

# touchpad gestures
libinput-gestures &

# locker
light-locker &

# start ssh-agent
eval $(ssh-agent)
