# set keyboard
setxkbmap -layout us -variant altgr-intl -option ctrl:nocaps

# fix dpi
xrandr --dpi 192

# additional keybindings
xbindkeys

# touchpad gestures
(which libinput-gestures >/dev/null 2>&1) && libinput-gestures &

# screenlocker
xset dpms 600 600 600
xset s 594 5
xss-lock -n "$HOME/bin/dim-screen.sh" -- "$HOME/bin/locker" &
