# set keyboard
setxkbmap -variant altgr-intl -option ctrl:nocaps

# fix dpi
xrandr --dpi 192

# additional keybindings
xbindkeys

# touchpad gestures
libinput-gestures &

# screenlocker
xautolock -detectsleep -time 10 -locker "$HOME/bin/locker" &

# start ssh-agent
eval $(ssh-agent)
