!! Fix DPI
Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!! UXTerm
UXTerm.termName: xterm-256color
UXTerm.vt100.metaSendsEscape: true
UXTerm.vt100.backarrowKey: false
UXTerm.ttyModes: erase ^?
UXTerm.vt100.saveLines: 65536
UXTerm.vt100.alternateScroll: true
UXTerm.vt100.scrollKey: true
UXTerm.vt100.scrollTtyOutput: false
UXTerm.vt100.cursorBlink: true
UXTerm.vt100.translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
UXTerm.vt100.faceName: Inconsolata
UXTerm.vt100.faceSize: 12

!! URxvt
!URxvt*buffered: false
URxvt.font: xft:Inconsolata:size=12
URxvt.print-pipe: cat > $(TMPDIR=$HOME mktemp urxvt.XXXXXX)
URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.saveLines: 65536
URxvt.cursorBlink: true
URxvt.pointerBlank: true
URxvt.secondaryScreen: true
URxvt.secondaryScroll: true
URxvt.secondaryWheel: true
! Perl extensions
URxvt.perl-ext-common: default,matcher
URxvt.matcher.button: 2
URxvt.url-launcher: firefox

!! base16
#include ".config/base16-xresources/xresources/base16-default-dark-256.Xresources"
